### Import Libraries

In [46]:
import pandas as pd
import numpy as np
import time
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.model_selection import KFold
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

### Import and rename Dataset columns

In [3]:
dataframe = pd.read_csv('/media/luigi/966AA7066AA6E26B/Users/Luigi/Documents/UACSA/TCC/git/tcc-luigi/features_matrix.csv')

dataframe.rename(columns={'2':'Heart Rate',
                '3' : 'Pulse Width',
                '4' : 'Reflection Index',
                '5' : 'LASI',
                '6' : 'Inflection Point Area',
                '7' : 'Crest Time',
                '8' : 'mnpv',
                '9' : 'SDNN',
                '10' : 'rMSSD',
                '11' : 'pNN50',
                '12' : 'LF',
                '13' : 'HF',
                '14' : 'SBP',
                '15' : 'DBP',
                '0' : 'MBP'},
                inplace=True)

dataframe = dataframe.drop(["1"], axis=1)

dataframe.head(10)

,Heart Rate,Pulse Width,Reflection Index,LASI,Inflection Point Area,Crest Time,mnpv,SDNN,rMSSD,pNN50,LF,HF,SBP,DBP,MBP
0,106,0.187,0.86467,30.303,0.96468,5.136,0.71604,8.1104,10.9540,0.00000,1103.00,98.378,121,66,87
1,100,0.201,0.88897,34.483,0.99873,5.136,0.69843,7.3290,9.5618,0.00000,1007.90,81.042,122,70,91
2,99,0.184,0.84877,28.571,0.97500,5.128,0.70604,5.3333,9.3808,0.00000,1098.80,97.302,103,61,80
3,100,0.187,0.90476,38.462,1.06420,5.136,0.71340,6.0474,9.0711,0.00000,1046.90,95.078,129,71,93
4,103,0.177,0.97091,166.670,0.72344,4.568,0.71074,114.5300,135.0300,0.12500,919.65,60.464,107,73,89
5,95,0.201,0.87686,30.303,1.04120,5.136,0.69164,7.3290,10.4740,0.00000,990.19,73.262,117,77,96
6,122,0.199,0.98812,166.670,2.41340,5.128,0.70142,141.0300,149.9500,0.44444,1234.90,64.061,111,74,89
7,141,0.179,0.88658,35.714,1.09880,5.136,0.71819,153.9300,171.0800,0.30000,1220.60,77.470,139,106,100
8,138,0.373,0.94725,30.303,0.82825,5.016,0.63903,147.1400,171.8200,0.36364,1339.50,45.860,110,94,102
9,100,0.189,0.89994,33.333,1.13260,4.616,0.71618,8.4327,14.1420,0.00000,1072.10,107.520,133,106,103

### Convert and split data into training and test set

In [4]:
# Use numpy to convert to arrays
print('Total dataframe size:', dataframe.shape)
# Labels are the values we want to predict
labels_df = dataframe[['SBP', 'DBP', 'MBP']]
labels = np.array(labels_df) # Remove the labels from the features
Y = labels
print('Labels dataframe size:', labels_df.shape)

# axis 1 refers to the columns
features_df = dataframe.drop(['SBP', 'DBP', 'MBP'], axis = 1)# Saving feature names for later use
features = np.array(features_df)
X = preprocessing.scale(features)
print('Features dataframe size:', features_df.shape)

Total dataframe size: (8442, 15)
Labels dataframe size: (8442, 3)
Features dataframe size: (8442, 12)

In [11]:
paper_metrics = pd.DataFrame({"SBP(ME)" : [0.17 ,-0.71, -0.17, 0.09],
                              "SBP(MAE)" : [16.12, 13.87, 10.29, 8.22],
                              "SBP(STD)" : [10.03, 15.29, 10.35, 10.38],
                              "DBP(ME)" :[-0.11, 0.17, -0.14, 0.23],
                              "DBP(MAE)" :[7.04, 6.82, 5.77, 4.17],
                              "DBP(STD)" :[5.81, 8.91, 5.43, 4.22],
                              "MBP(ME)" :[0.13, 0.02, 0.07, -0.02],
                              "MBP(MAE)" :[8.89, 8.18, 6.38, 4.58],
                              "MBP(STD)" :[6.25, 9.02, 6.62, 5.53]},
                              index = ['LiR', 'DT', 'RF', 'AB'])

bhs_standard = pd.DataFrame({"lt5mmHg" :[60, 50, 40],
                             "lt10mmHg" :[85, 75, 65],
                             "lt15mmHg" :[95, 90, 85]},
                              index = ['grade A', 'grade B', 'grade C'])

### Função para calcular o erro percentual acumulado

In [54]:
def cumulative_error_percentage(array, set_point):
        return (100*len(array[array < set_point]))/len(array)

### Função para treinar e avaliar um modelo

In [34]:
def train_and_evaluate_model(model, X, Y):
    # Declaração dos vetores que armazenam os resultados 
    # de cada iteração do metodo KFold
    SBP_ME = []
    SBP_MAE = []
    SBP_STD = []
    SBP_CORR = []
    SBP_CEP5 = []
    SBP_CEP10 = []
    SBP_CEP15 = []
    
    DBP_ME = []
    DBP_MAE = []
    DBP_STD = []
    DBP_CORR = []
    DBP_CEP5 = []
    DBP_CEP10 = []
    DBP_CEP15 = []
    
    MBP_ME = []
    MBP_MAE = []
    MBP_STD = []
    MBP_CORR = []
    MBP_CEP5 = []
    MBP_CEP10 = []
    MBP_CEP15 = []
    
    cv = KFold(n_splits=10) # Podemos testar depois com: random_state=42, shuffle=False
    
    for train_index, test_index in cv.split(X):
        # Separo os conjuntos de treino e de teste
        X_train, X_test, y_train, y_test = X[train_index], X[test_index], Y[train_index], Y[test_index]
        # Treino o modelo no conjunto de treinamento
        model.fit(X_train, y_train)
        model_predictions = model.predict(X_test)
        # Calculo as metricas que eu quero
        # São elas:
        # Mean Error
        # Mean Absolute Error
        # Standard Deviation
        # Erro percentual cumulativo (<= 5 mmHg,<= 10 mmHg e <= 15 mmHg)
    
        SBP_error = y_test[:, 0] - model_predictions[:, 0]
        SBP_ME.append(np.mean(SBP_error))
        SBP_MAE.append(mean_absolute_error(y_test[:, 0], model_predictions[:, 0]))
        SBP_STD.append(np.std(model_predictions[:, 0]))
        SBP_CEP5.append(cumulative_error_percentage(SBP_error, 5))
        SBP_CEP10.append(cumulative_error_percentage(SBP_error, 10))
        SBP_CEP15.append(cumulative_error_percentage(SBP_error, 15))

        DBP_error = y_test[:, 1] - model_predictions[:, 1]
        DBP_ME.append(np.mean(y_test[:, 1] - model_predictions[:, 1]))
        DBP_MAE.append(mean_absolute_error(y_test[:, 1], model_predictions[:, 1]))
        DBP_STD.append(np.std(model_predictions[:, 1]))
        DBP_CEP5.append(cumulative_error_percentage(DBP_error, 5))
        DBP_CEP10.append(cumulative_error_percentage(DBP_error, 10))
        DBP_CEP15.append(cumulative_error_percentage(DBP_error, 15))
    
        MBP_error = y_test[:, 2] - model_predictions[:, 2]
        MBP_ME.append(np.mean(y_test[:, 2] - model_predictions[:, 2]))
        MBP_MAE.append(mean_absolute_error(y_test[:, 2], model_predictions[:, 2]))
        MBP_STD.append(np.std(model_predictions[:, 2]))
        MBP_CEP5.append(cumulative_error_percentage(MBP_error, 5))
        MBP_CEP10.append(cumulative_error_percentage(MBP_error, 10))
        MBP_CEP15.append(cumulative_error_percentage(MBP_error, 15))
        
    # Criamos um dataframe que irá armazenar as métricas
    metrics = pd.DataFrame(index = [0], columns = ['SBP(ME)', 'SBP(MAE)', 'SBP(STD)',
                                                   'DBP(ME)', 'DBP(MAE)', 'DBP(STD)',
                                                   'MBP(ME)', 'MBP(MAE)', 'MBP(STD)'])
    
    # Atribuimos as metricas do KFold validation ao dataframe
    metrics['SBP(ME)'] = np.mean(SBP_ME)
    metrics['SBP(MAE)'] = np.mean(SBP_MAE)
    metrics['SBP(STD)'] = np.mean(SBP_STD)

    metrics['DBP(ME)'] = np.mean(DBP_ME)
    metrics['DBP(MAE)'] = np.mean(DBP_MAE)
    metrics['DBP(STD)'] = np.mean(DBP_STD)

    metrics['MBP(ME)'] = np.mean(MBP_ME)
    metrics['MBP(MAE)'] = np.mean(MBP_MAE)
    metrics['MBP(STD)'] = np.mean(MBP_STD)
    
    # Criamos um dataframe que armazena as metricas no padrao BHS
    bhs_metrics = pd.DataFrame(index = ['DBP', 'MBP', 'SBP'], columns = ['lt5mmHg', 'lt10mmHg', 'lt15mmHg'])
    
    bhs_metrics['lt5mmHg']['DBP'] = np.mean(DBP_CEP5)
    bhs_metrics['lt10mmHg']['DBP'] = np.mean(DBP_CEP10)
    bhs_metrics['lt15mmHg']['DBP'] = np.mean(DBP_CEP15)
    
    bhs_metrics['lt5mmHg']['MBP'] = np.mean(MBP_CEP5)
    bhs_metrics['lt10mmHg']['MBP'] = np.mean(MBP_CEP10)
    bhs_metrics['lt15mmHg']['MBP'] = np.mean(MBP_CEP15)
    
    bhs_metrics['lt5mmHg']['SBP'] = np.mean(SBP_CEP5)
    bhs_metrics['lt10mmHg']['SBP'] = np.mean(SBP_CEP10)
    bhs_metrics['lt15mmHg']['SBP'] = np.mean(SBP_CEP15)
    
    return metrics, bhs_metrics

In [55]:
lr_m, lr_bhs = train_and_evaluate_model(linear_model.LinearRegression(), X, Y)
# dt_m, dt_bhs = train_and_evaluate_model(DecisionTreeRegressor(random_state=0), X, Y)
# rf_m, rf_bhs = train_and_evaluate_model(RandomForestRegressor(n_estimators = 100, random_state = 42), X, Y)

In [56]:
lr_m

,SBP(ME),SBP(MAE),SBP(STD),DBP(ME),DBP(MAE),DBP(STD),MBP(ME),MBP(MAE),MBP(STD)
0,-0.07793,16.449009,5.100854,-0.058844,11.14776,2.343928,-0.075858,11.487543,2.643246

In [57]:
lr_bhs

     lt5mmHg lt10mmHg lt15mmHg
DBP  70.9082  79.4489  85.8217
MBP  68.8823  77.4113  85.0871
SBP  64.0969   71.903  78.4535

In [50]:
dt_m

,SBP(ME),SBP(MAE),SBP(STD),DBP(ME),DBP(MAE),DBP(STD),MBP(ME),MBP(MAE),MBP(STD)
0,-0.946862,22.70182,22.194043,-0.802095,15.468635,15.554602,-0.856253,15.764164,15.544125

In [51]:
dt_bhs

     lt5mmHg lt10mmHg lt15mmHg
DBP  21.6655  42.3953  58.9554
MBP  19.4264  38.8293  56.0882
SBP  13.5866   27.162  40.0379

In [52]:
rf_m

,SBP(ME),SBP(MAE),SBP(STD),DBP(ME),DBP(MAE),DBP(STD),MBP(ME),MBP(MAE),MBP(STD)
0,-0.800995,16.389117,8.46607,-0.612352,11.271166,4.554296,-0.70392,11.478069,5.270646

In [53]:
rf_bhs

     lt5mmHg lt10mmHg lt15mmHg
DBP  26.9369  52.8313   73.715
MBP   26.368  50.7696  71.4758
SBP  19.0473  36.6735  53.7787

### Train and evaluate AdaBoost Regressor

In [57]:
# Anotações
# Y[:, 0] => Systolic Blood Pressure
# Y[:, 1] => Diastolic Blood Pressure

import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# Declaração dos vetores para armazenar as métricas
SBP_ME = []
SBP_MAE = []
SBP_STD = []
SBP_CORR = []
# SBP_RMSE = []

DBP_ME = []
DBP_MAE = []
DBP_STD = []
DBP_CORR = []
# DBP_RMSE = []

# Aqui a gente deve especificar o modelo a ser testado
sbp_model = AdaBoostRegressor(random_state=0, n_estimators=200)
dbp_model = AdaBoostRegressor(random_state=0, n_estimators=200)
abp_model = AdaBoostRegressor(random_state=0, n_estimators=200)

# Definição do conjunto de validação cruzada pelo metodo KFold
cv = KFold(n_splits=5) #  random_state=42, shuffle=False

for train_index, test_index in cv.split(X):
    # Separo os conjuntos de treino e de teste
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], Y[train_index], Y[test_index]
    # Treino o modelo no conjunto de treinamento
    sbp_model.fit(X_train, y_train[:, 0])
    dbp_model.fit(X_train, y_train[:, 1])
    abp_model.fit(X_train, y_train[:, 2])
    
    sbp_model_predictions = sbp_model.predict(X_test)
    dbp_model_predictions = dbp_model.predict(X_test)
    abp_model_predictions = abp_model.predict(X_test)
    # Calculo as metricas que eu quero
    # São elas:
    # Mean Error
    # Mean Absolute Error
    # Standard Deviation
    
    SBP_error = y_test[:, 0] - sbp_model_predictions
    SBP_ME.append(np.mean(SBP_error))
    SBP_MAE.append(mean_absolute_error(y_test[:, 0], sbp_model_predictions))
    SBP_STD.append(np.std(sbp_model_predictions))
    # SBP_CORR.append()
    # SBP_RMSE.append(mean_squared_error(y_test[:, 0], sbp_model_predictions))

    DBP_error = y_test[:, 1] - dbp_model_predictions
    DBP_ME.append(np.mean(y_test[:, 1] - dbp_model_predictions))
    DBP_MAE.append(mean_absolute_error(y_test[:, 1], dbp_model_predictions))
    DBP_STD.append(np.std(dbp_model_predictions))
    # DBP_CORR.append()
    # DBP_RMSE.append(mean_squared_error(y_test[:, 1], model_predictions[:, 1]))
    
    MBP_error = y_test[:, 2] - abp_model_predictions
    MBP_ME.append(np.mean(y_test[:, 2] - abp_model_predictions))
    MBP_MAE.append(mean_absolute_error(y_test[:, 2], abp_model_predictions))
    MBP_STD.append(np.std(abp_model_predictions))
    # DBP_CORR.append()
    # MBP_RMSE.append(mean_squared_error(y_test[:, 2], model_predictions[:, 2]))
    
# Atribui as métricas aos indices do dataframe    
metrics['SBP(ME)']['AB'] = np.mean(SBP_ME)
metrics['SBP(MAE)']['AB'] = np.mean(SBP_MAE)
metrics['SBP(STD)']['AB'] = np.mean(SBP_STD)
# metrics['SBP(RMSE)']['RF'] = np.mean(SBP_RMSE)

metrics['DBP(ME)']['AB'] = np.mean(DBP_ME)
metrics['DBP(MAE)']['AB'] = np.mean(DBP_MAE)
metrics['DBP(STD)']['AB'] = np.mean(DBP_STD)
# metrics['DBP(RMSE)']['RF'] = np.mean(DBP_RMSE)

metrics['MBP(ME)']['AB'] = np.mean(MBP_ME)
metrics['MBP(MAE)']['AB'] = np.mean(MBP_MAE)
metrics['MBP(STD)']['AB'] = np.mean(MBP_STD)
# metrics['MBP(RMSE)']['RF'] = np.mean(MBP_RMSE)

metrics

,SBP(ME),SBP(MAE),SBP(STD),DBP(ME),DBP(MAE),DBP(STD),MBP(ME),MBP(MAE),MBP(STD)
LiR,-0.0779299,16.449,5.10085,-0.058844,11.1478,2.34393,-0.075858,11.4875,2.64325
DT,-0.890263,22.7203,22.1899,-0.686654,15.4866,15.3265,-0.763902,15.8219,15.3922
RF,-0.752236,16.5116,8.63071,-0.661478,11.4022,4.61682,-0.722468,11.6165,5.34637
AB,-6.80886,17.7116,5.89868,-13.7179,17.8614,3.98125,-4.78034,13.0434,4.25503